html{
	margin: 0px;
	padding: 0px;
}
body {
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}


.bucket{
	width: 100%;
	height: 300px;
	-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
    /*border: 1px solid;*/
        padding: 10px;
	background-color: #E7E7E7;
}

.glyphicon-remove{
	cursor: pointer;
}

.yoga-loader{
	text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}