<style>
   
    
    :host(.page1Container) {
        display: inline-block;
        position: fixed;
        width: 100%;
        -webkit-transition: all ease-in 0.5s;
        transition: all ease-in 0.5s;
    }
    
    :host(.page1Container.ng-enter) {
        /*transform: rotateX(-180deg)*/
        opacity:0;  /* make things invisible upon start */
          -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
          -moz-animation:fadeIn ease-in 1;
          animation:fadeIn ease-in 1;

          -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
          -moz-animation-fill-mode:forwards;
          animation-fill-mode:forwards;

          -webkit-animation-duration:1s;
          -moz-animation-duration:1s;
          animation-duration:1s;
    }
    
    :host(.page1Container.ng-enter-active) {
        /*transform: rotateX(0deg)*/
    }
    :host(.page1Container.ng-leave) {
        /*transform: rotateX(-180deg)*/
       
          -webkit-animation:fadeOut ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
          -moz-animation:fadeOut ease-in 1;
          animation:fadeOut ease-in 1;

          -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
          -moz-animation-fill-mode:forwards;
          animation-fill-mode:forwards;

          -webkit-animation-duration:1s;
          -moz-animation-duration:1s;
          animation-duration:1s;
    }

    @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
    @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
    @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

    
    @-webkit-keyframes fadeOut { from { opacity:0; } to { opacity:1; } }
    @-moz-keyframes fadeOut { from { opacity:0; } to { opacity:1; } }
    @keyframes fadeOut { from { opacity:0; } to { opacity:1; } }

</style>

<div class="row">
    <div class="col-xs-6 col-md-2"></div>
    <div class="col-xs-6 col-md-8">
        <div class="box">
            <div class="box-header b-b">
                Select Level 
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail" [routerLink]="['LevelOne']" > <img data-holder-rendered="true" src="./assets/images/L1.svg" style="height: 180px; width: 100%; display: block;" data-src="holder.js/100%x180" alt="100%x180"> 
                        </a>

                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail"> <img data-holder-rendered="true" src="./assets/images/L2.svg" style="height: 180px; width: 100%; display: block;" data-src="holder.js/100%x180" alt="100%x180"> </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail"> <img data-holder-rendered="true" src="./assets/images/L3.svg" style="height: 180px; width: 100%; display: block;" data-src="holder.js/100%x180" alt="100%x180"> </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail"> <img data-holder-rendered="true" src="./assets/images/L4.svg" style="height: 180px; width: 100%; display: block;" data-src="holder.js/100%x180" alt="100%x180"> </a>
                    </div>
                </div>
                <!-- Second Row -->
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail"> <img data-holder-rendered="true" src="./assets/images/L5.svg" style="height: 180px; width: 100%; display: block;" data-src="holder.js/100%x180" alt="100%x180"> </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail"> <img data-holder-rendered="true" src="./assets/images/L6.svg" style="height: 180px; width: 100%; display: block;" data-src="holder.js/100%x180" alt="100%x180"> </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail"> <img data-holder-rendered="true" src="./assets/images/L7.svg" style="height: 180px; width: 100%; display: block;" data-src="holder.js/100%x180" alt="100%x180"> </a>
                    </div>
                </div>
                <!-- Row Ends -->
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-2"></div>
</div>
